*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
/* product page  */
hr{
    padding: 10px;
    margin: 2px;
  }



 #category-buttons button:hover{
    background-color: rgb(17, 17, 17);
    color: rgb(252, 250, 250);
     
} 
